.intro-title {
}

.intro-background {
    position: center;
    opacity: 0.3;
}

.blinking {
    -webkit-animation: blink 1.5s ease-in-out infinite alternate;
    -moz-animation: blink 1.5s ease-in-out infinite alternate;
    animation: blink 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}
